/* * {
    outline: 1px solid red;
} */


@font-face {
  font-family: krona_one;
  src: url('assets/fonts/krona_one/KronaOne-Regular.ttf');
}

:root {
  /* font-family: system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family: krona_one;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
  width: 100%;
 
}
